@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.done{
  background-color: #96ff8d;
}
.no-done{
  background-color: #ff8d8d;
}
input{
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #dfebeb;
  font-size: 20px;
}
button{
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #dfebeb;
  border: none;
  cursor: pointer;
}